**/.DS_Store
__pycache__/
*.pyc
/*.egg-info
.idea/
*.swp
*.wsn
*.swo
.scannerwork/
.vscode/
htmlcov/
sonar-project.properties
.coverage*
docs/rst
docs/sphinx
experiments/
newtest/
dist/
cfr_model/
models/tractor_nfsp/checkpoint
models/tractor_nfsp/model.data-00000-of-00001
models/tractor_nfsp/model.index
models/tractor_nfsp/model.meta
rlcard/models/tractor/20210504/checkpoint
rlcard/models/tractor/20210504/model.data-00000-of-00001
rlcard/models/tractor/20210504/model.index
rlcard/models/tractor/20210504/model.meta
*.data-00000-of-00001
*.index
*.meta
models/tractor_nfsp_1_nfsp_3_random/checkpoint
models/tractor_nfsp_1_nfsp_3_random/result.txt
rlcard/models/tractor/2021_05_06_08_27_44/tractor_nfsp/checkpoint
rlcard/models/tractor/tractor_nfsp_1_nfsp_3_random/checkpoint
rlcard/models/tractor/tractor_nfsp_1_nfsp_3_random/result.txt
Log/2021_05_07_03_02_57.txt
rlcard/models/tractor/20210506_combined_rewards/checkpoint
rlcard/models/tractor/2021_05_07_03_02_57/tractor_nfsp/checkpoint
rlcard/models/tractor_pretrained_models.py
