**/.DS_Store
__pycache__/
*.pyc
/*.egg-info
.idea/
*.swp
*.wsn
*.swo
.scannerwork/
.vscode/
htmlcov/
sonar-project.properties
.coverage*
docs/rst
docs/sphinx
experiments/
newtest/
dist/
cfr_model/
models/tractor_nfsp/checkpoint
models/tractor_nfsp/model.data-00000-of-00001
models/tractor_nfsp/model.index
models/tractor_nfsp/model.meta
